{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>
				Deze corona-crisis overwinnen we alleen als we elkaar helpen. Kwetsbare mensen zoals ouderen en zieken moeten zoveel mogelijk contact mijden. Mensen met belangrijke beroepen moeten aan het werk kunnen blijven. Alle anderen kunnen misschien wel helpen, als ware helden! 
			</p>
			<p>
				Via deze tool kunnen mensen hulp vragen van een van de helden in de buurt. Of het nou om boodschappen gaat, of om oppas. Alles kan, zolang het maar bijdraagt aan het doel om kwetsbare mensen te beschermen, en mensen in belangrijke beroepen aan het werk te houden.
			</p>
			<p>
				Heb je vragen of wil je contact met ons opnemen? Kijk dan even in de <a href="faq.php">F.A.Q. (veelgestelde vragen)</a>.
			</p>
			<p>
				<a href="requestForm.php"><button type="button" class="btn btn-primary">Ik heb een hulpverzoek</button></a>
			</p>
			<p>
				<a href="heroForm.php"><button type="button" class="btn btn-primary">Ik wil held worden</button></a>
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
		<h2>Open hulpverzoeken</h2><br>
		</div>
	</div>
	
	<div class="row">
		{% if openRequests|length==0 %}
		<div class="col-md-4">
			Er zijn momenteel geen openstaande hulpverzoeken{% if city!=null %} <strong>in {{ city }}</strong>{% endif %}. Lekker bezig, HELDEN! {% if city!=null %}<br><br><a href="index.php">Klik hier om ook andere steden te zien</a>{% endif %}<br><br>
		</div>
		{% else %}
		
		{% for request in openRequests %}
		<div class="col-md-4">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">{{ request.Category }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">{{ request.LocationZipcode }} {{ request.LocationCity }} (<a href="https://www.google.nl/maps/search/{{ request.LocationZipcode }}" target="_blank">Maps</a>)</h6>
			    <p class="card-text">{{ request.Description }}</p>
			    <a href="offerForm.php?guid={{ request.GuidPublic }}" class="card-link">Ik kan helpen!</a>
			  </div>
			</div>
			<br>
		</div>
		{% endfor %}
		
		{% endif %}
	</div>

	<div class="row">
		<div class="col-md-12">
		<h2>Afgeronde hulpverzoeken</h2><br>
		</div>
	</div>	
	<div class="row">

		{% for request in closedRequests %}
		<div class="col-md-4">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">{{ request.Category }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">{{ request.LocationZipcode }} {{ request.LocationCity }} (<a href="https://www.google.nl/maps/search/{{ request.LocationZipcode }}" target="_blank">Maps</a>)</h6>
			    <p class="card-text">{{ request.Description }}</p>
			    <a href="#" class="card-link">Dit verzoek is afgerond!</a>
			  </div>
			</div>
			<br>
		</div>
		{% endfor %}

	</div>
	
{% endblock %}