{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Nieuw hulpverzoek</h1><br>
            <p>
                <a href="index.php">< Terug naar de homepage</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form method="post">
                <div class="form-group">
                    {% set firstnameIsInvalid = errors.firstname is defined %}
                    <label for="firstname">Voornaam</label>
                    <input id="firstname"
                           type="text"
                           class="form-control{{ firstnameIsInvalid ? ' is-invalid' }}"
                           name="firstname"
                           placeholder="Piet"
                            {{ form.firstname is defined ? ('value="' ~ form.firstname ~ '"')|raw }}
                           required="">
                    {% if firstnameIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.firstname.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% set lastnameIsInvalid = errors.lastname is defined %}
                    <label for="lastname">Achternaam</label>
                    <input id="lastname"
                           type="text"
                           class="form-control{{ lastnameIsInvalid ? ' is-invalid' }}"
                           name="lastname"
                           placeholder="Paulusma"
                            {{ form.lastname is defined ? ('value="' ~ form.lastname ~ '"')|raw }}
                           required="">
                    {% if lastnameIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.lastname.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% set zipcodeIsInvalid = errors.zipcode is defined %}
                    <label for="zipcode">Postcode</label>
                    <input id="zipcode"
                           type="text"
                           class="form-control{{ zipcodeIsInvalid ? ' is-invalid' }}"
                           name="zipcode"
                           placeholder="1234AB"
                            {{ form.zipcode is defined ? ('value="' ~ form.zipcode ~ '"')|raw }}
                           required="">
                    {% if zipcodeIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.zipcode.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% set mailIsInvalid = errors.mail is defined %}
                    <label for="mail">E-mailadres</label>
                    <input id="mail"
                           type="email"
                           class="form-control{{ mailIsInvalid ? ' is-invalid' }}"
                           name="mail"
                           placeholder="piet@paulusma.com"
                            {{ form.mail is defined ? ('value="' ~ form.mail ~ '"')|raw }}
                           required="">
                    {% if mailIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.mail.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% set phoneIsInvalid = errors.phone is defined %}
                    <label for="phone">Telefoonnummer</label>
                    <input id="phone"
                           type="phone"
                           class="form-control{{ phoneIsInvalid ? ' is-invalid' }}"
                           name="phone"
                           placeholder="0612345678"
                            {{ form.phone is defined ? ('value="' ~ form.phone ~ '"')|raw }}
                           required="">
                    {% if phoneIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.phone.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% set categoryIsInvalid = errors.categoryId is defined %}
                    <label for="category">Categorie</label>
                    <select id="category"
                            class="form-control{{ categoryIsInvalid ? ' is-invalid' }}"
                            name="categoryId"
                            required="">
                        <option></option>
                        {% for category in categories %}
                            <option value="{{ category.Id }}">{{ category.Name }}</option>
                        {% endfor %}
                    </select>
                    {% if categoryIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.categoryId.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {% set descriptionIsInvalid = errors.description is defined %}
                    <label for="description">Je hulpvraag</label>
                    <textarea id="description"
                              class="form-control{{ descriptionIsInvalid ? ' is-invalid' }}"
                              rows="3"
                              name="description"
                              required=""
                    >{{ form.description is defined ? form.description }}</textarea>
                    {% if descriptionIsInvalid %}
                        <div class="invalid-feedback">
                            {{ errors.description.errors|join(' ') }}
                        </div>
                    {% endif %}
                </div>

                <div class="g-recaptcha" data-sitekey="{{ captchaSiteKey }}"></div>
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                <br>
                <h2>Veiligheid en omgang</h2>
                <p>Ga op een veilige manier met elkaar om. Volg de richtlijnen van het RIVM, en denk logisch na. Als je
                    boodschappen voor iemand doet, lever ze dan 'contactloos' af bijvoorbeeld. Hou een veilige afstand
                    om besmetting te voorkomen. Zonder de helden van dit platform, kunnen er namelijk geen hulpvragen
                    opgelost worden.</p>

                <p>
                    Wees ook aardig voor elkaar. Je gaat zelf contact opnemen met mensen die hulp aanbieden. Het kan zo
                    zijn dat iemand niet meteen reageert, of niet meteen aan je hulpvraag kan voldoen. Wij zorgen ervoor
                    dat je altijd minimaal 3 helden in de mail krijgt. Als je er dus niet uitkomt met de een, komt er
                    wellicht snel een ander die je kan helpen.
                </p>

                <p>
                    HeldNodig.nl is niet verantwoordelijk voor de communicatie tussen de hulpvrager en de held, en wat
                    daaruit voortvloeit. Wij verbinden de twee personen alleen. Als er toch een vervelende situatie
                    voordoet, laat het dan weten via info@doodlesoft.nl, zodat wij kunnen nagaan of we deze persoon
                    kunnen blokkeren.
                </p>

                <div class="form-group">
                    <div class="form-check">
                        {% set safetyCheckIsInvalid = errors['safety-check'] is defined %}
                        <input class="form-check-input{{ safetyCheckIsInvalid ? ' is-invalid' }}" type="checkbox"
                               id="safety-check" value="" name="safety-check" required>
                        <label class="form-check-label" for="safety-check">
                            Ik ga zal veilig te werk gaan, en aardig blijven
                        </label>
                        {% if safetyCheckIsInvalid %}
                            <div class="invalid-feedback">
                                {{ errors['safety-check'].errors|join(' ') }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <h2>Privacy</h2>
                <p>Gezien de tijdsdruk van dit project in deze crisis, heeft HeldNodig.nl geen eigen stichting. Alle
                    data wordt opgeslagen bij Microsoft Azure in regio West-Europa. De verantwoordelijke voor het
                    beheren van de data is Jan van Kampen (Contactgegevens: <a href="https://doodlesoft.nl"
                                                                               target="_blank">DoodleSoft</a>). Je
                    mailadres en telefoonnummer worden met niemand gedeeld, en worden uitgevraagd voor het eventueel
                    beoordelen en verifiëren van je hulpvraag.</p>
                <p>Na het cancelen of het afronden van het hulpverzoek wordt je data verwijderd. Alle data wordt ook
                    verwijderd aan het eind van deze Corona-crisis of uiterlijk 01-06-2020. Je mag natuurlijk ook altijd
                    contact opnemen via info@doodlesoft.nl als je wilt dat we data verwijderen.</p>

                <div class="form-group">
                    <div class="form-check">
                        {% set privacystatementIsInvalid = errors.privacystatement is defined %}
                        <input class="form-check-input{{ privacystatementIsInvalid ? ' is-invalid' }}"
                               id="privacystatement" type="checkbox" value="" name="privacystatement" required>
                        <label class="form-check-label" for="privacystatement">
                            Ik ga akkoord met dit privacy statement
                        </label>
                        {% if privacystatementIsInvalid %}
                            <div class="invalid-feedback">
                                {{ errors.privacystatement.errors|join(' ') }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Hulpverzoek versturen</button>
            </form>
        </div>
    </div>
{% endblock %}
